a {
    text-decoration: none;
  } 
.button1 {
    background-color: #008CBA;
    border-radius: 8px ;
    padding: 10px 40px ;
    border-color: #008CBA ;
    color: white;
    text-align: center;
}
